/* albert-sans-500 - latin */
@font-face {
    font-family: 'Albert Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/albert-sans-v1-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/albert-sans-v1-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Albert Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #070707;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* header style start */

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 20px;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #828282;
}


.menu {
    padding-top: 25px;
    font-weight: bold;
    padding-bottom: 23px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
}

.menu_link {
    line-height: 23px;
    color: #828282;
    text-decoration: none;
}

.menu a:hover, .menu a:focus, .menu a:active {
    color: #070707;
    transform: scale(1.2);
}

/* header style end */

/* inro style start */

.info {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.name {
    width: 120px;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px
}

.micro-info {
    width: 165px;
    line-height: 20px;
}

.photo_1 {
    width: 100%;
    height: 390px;
    padding-top: 45px;
}

.photo {
    padding-bottom: 70px;
}
/* inro style end */

/* about style start */

.about {
    background-color: #F6F6F6;
}

.about_me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 10px;
}

.text {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

/* about style end */

/* skill style start */

.skills {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxes {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 170px;
    padding-left: 100px;
    flex-wrap: wrap;
}

.box:first-child {
    padding-left: 0;
}

.box_icon img {
    width: 90px;
    height: 90px;
}

.box_name {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.box_stars {
    display: flex;
    justify-content: space-between;
    width: 166px;
}
/* skill style end */

/* portfolio style start */

.portfolio {
    background-color: #F6F6F6;
}

.example {
    width: 1000px;
    height: 600px;
}

.portfolio_block {
    padding-top: 120px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.portfolio_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.portfolio_content_name {
    padding-top: 40px;
}

/* portfolio style end */

/* footer style start */

footer {
    padding-top: 43px;
    padding-bottom: 120px;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_social {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 290px;
}

.footer_link {
    cursor: pointer;
}

.footer_img {
    width: 45px;
    height: 45px;
}

.footer_title {
    margin: 50px;
}
/* footer style end */

/* media style start */

@media screen and (max-width: 1024px) {
    .example_1 {
        max-width: 100%;
    }
    .example_2 {
        max-width: 100%;
    }
    .example_3 {
        max-width: 100%;
    }
    .photo_1 {
        height: 270px;
    }
}

@media screen and (max-width: 768px) {
    .example_1 {
        max-width: 100%;
    }
    .example_2 {
        max-width: 100%;
    }
    .example_3 {
        max-width: 100%;
    }
    .photo_1 {
        height: 270px;
    }
}

@media screen and (max-width: 425px) {
    .example_1 {
        max-width: 100%;
    }
    .example_2 {
        max-width: 100%;
    }
    .example_3 {
        max-width: 100%;
    }
    .skills {
        padding-top: 50px;
        padding-bottom: 50px;
        height: 100%;
    }
    .boxes {
        flex-direction: column;
    }
    .box {
        padding-left: 0;
        padding-bottom: 30px;
    }
    .title {
        font-size: 18px;
    }
    .portfolio_block {
        padding-top: 50px;
    }
    .footer_title {
        margin: 25px;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .photo_1 {
        height: 200px;
    }
    .about_me {
        padding-top: 50px;
        padding-bottom: 20px;
        height: 100%;
    }
    .footer_img {
        width: 35px;
        height: 35px;
    }
    .footer_social {
        max-width: 225px;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 15px;
    }
    .photo_1 {
        height: 160px;
    }
}

/* media style end */